html,body,section {height:100%;}

section {
  background-repeat:no-repeat;
  background-size:cover;
}

.intro {
  background-image:    url(images/intro.jpg);
}

.section2 {
   background-color: #ddd;
}

.section3 {
  background-color: tomato;
}

/*css reset*/
html,body{margin:0; padding:0;}
